extends layout



block content
  .container.h-100.pt-5 
    .row.d-flex.justify-content-center.align-items-center.h-100
      .col-lg-8.col-xl-6 
        .card.text-black(style='border-radius: 25px;')
          .card-body.p-md-5
            .row.justify-content-center
              .col-md-10.col-lg-8 
                .h1.fw-bold.mb-4.text-center Login

                .form.mx-1.mx-md-4
                  .d-flex.flex-row.align-items-center.mb-4
                    .form-outline.flex-fill.mb-0
                      label.form-label(for='username') Username
                      input#username.form-control(type='text' required)
                      
                  .d-flex.flex-row.align-items-center.mb-4
                    .form-outline.flex-fill.mb-0
                      label.form-label(for='password') Password
                      input#password.form-control(type='password' required)

                .d-flex.flex-row.justify-content-center.mb-3.mb-lg-4
                  button.btn.btn-primary.btn-lg(type='submit') Login

            .col-md-10.col-lg-4.d-flex.align-items-center.order-lg-2.mt-4.mt-lg-0
              img.img-fluid(src='DiscSearch/app_server/images/pic03.jpg' alt='' style='border-radius: 15px;')
